<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">
    <contextName>logback</contextName>
    <property name="log.path" value="logs/gateway" />

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="runtime" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/runtime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/runtime.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.sc" level="debug" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="runtime" />
        <appender-ref ref="error" />
    </logger>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="runtime" />
        <appender-ref ref="error" />
    </root>

</configuration>
